.main {
  box-sizing: border-box;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  padding: 0 calc(1rem + var(--headband-border-radius));

  flex: 1 1 auto;
}

@media screen and (min-width: 992px) {
  .main {
    margin-bottom: 2rem;
    padding: 0 calc(1.5rem + var(--headband-border-radius));
  }
}

@media screen and (min-width: 1200px) {
  .main {
    margin: 1rem auto 2rem;
    padding: 0;
  }
}
