.main {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.posts {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.posts-btn-container {
  padding: 1rem 0;

  text-align: center;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 1.5rem;
  }

  .posts {
    gap: 1.5rem;
  }

  .posts-btn-container {
    padding: 1.5rem 0;
  }
}

@media screen and (min-width: 992px) {
  .in-the-news {
    grid-column: 1 / span 3;
  }

  .posts {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding: 2rem;
  }

  .posts {
    gap: 2rem;
  }

  .posts-btn-container {
    padding: 2rem 0;
  }
}
