:root {
  --background: #fff;
  --background-secondary: #f6f6f6;
  --divider: #ddd;
  --border: #ddd;
  --hover-tint: #f6f6f6;

  --color: #262626;
  --color-rgb: 38, 38, 38;

  --color-light: #616161;
  --color-rgb: 97, 97, 97;

  --inverted-color: #fff;
  --inverted-color-rgb: 255, 255, 255;

  --primary: #02366b;
  --primary-rgb: 2, 54, 107;

  --primary-light: #0a58ca;
  --primary-light-rgb: 10, 88, 202;

  --primary-lighter: #809ab4;

  --primary-hover: #0a58ca;
  --primary-hover-rgb: 10, 88, 202;

  --accent: #f8da28;
  --accent-rgb: 248, 218, 40;

  --focus-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  --raised-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px 0;
  --text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  --button-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;

  --headband-border-radius: 2rem;
  --card-border-radius: 1rem;

  --orange: #fd7e14;
  --red: #dc3545;
  --green: #198754;

  --font-cursive: 'Great Vibes', cursive;
  --font-serif: 'Yeseva One', serif;
}
