.headband {
  display: flex;

  height: 16rem;
  margin: 1rem;
  padding: 1rem;

  border-radius: 2rem;

  background-color: var(--primary-color);

  color: var(--inverted-color);
  font-size: 2rem;

  align-items: center;
  justify-content: center;
}

.main {
  flex: 1 1 auto;
}

// Menu

.menu {
  display: flex;
  flex-direction: row;

  position: absolute;
  z-index: 1021;
  top: 0;
  right: 0;
  left: 0;

  box-sizing: border-box;
  height: 8rem;
  padding: 1rem 2rem;

  transition: background-color .3s, box-shadow .3s;

  align-items: center;
  justify-content: space-between;
}

.open .menu {
  background-color: var(--primary-color);
  box-shadow: var(--raised-shadow);
}

// Logo

.logo {
  display: block;

  position: relative;

  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;

  background-image: url('/villers-le-lac-logo.svg');
  background-repeat: no-repeat;
  background-size: 5rem 5rem;
  &::before {
    position: absolute;
    z-index: -1;
    top: -.75rem;
    left: -1rem;

    width: 7.5rem;
    height: 7.5rem;

    background: url('/logo-background.png');
    background-repeat: no-repeat;
    background-size: 7.5rem 7.5rem;

    content: '';
  }
}

// Menu button

.btn,
.btn:active {
  border: none;
  outline: none;

  background: transparent;
}

.btn:focus {
  border-radius: .125rem;
  outline: 0;

  background: transparent;
  box-shadow: var(--focus-shadow);
}

.btn {
  display: flex;
  flex-direction: column;

  width: 2em;
  height: 2em;
  margin: .75em;
  padding: .25em;

  font-size: 1rem;

  cursor: pointer;

  align-items: flex-end;
  justify-content: space-around;
}

.btn::before,
.btn-burger,
.btn::after {
  display: block;

  height: .125em;

  border-radius: .125em;

  background: var(--background);

  transition: .4s cubic-bezier(.68, -.6, .32, 1.6);
}

.btn::before,
.btn::after {
  width: 100%;

  content: ' ';
}

.btn-burger {
  width: 100%;

  align-self: center;
}

.open .btn:before {
  width: 100%;

  transform: translate(0, .5em) rotatez(-45deg);
  transform-origin: center;
}

.open .btn-burger {
  width: 0;
}

.open .btn:after {
  width: 100%;

  transform: translate(0, -.5em) rotatez(45deg);
  transform-origin: center;
}

// Items

.items {
  display: flex;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;

  position: fixed;
  z-index: 1020;
  top: calc(8rem + var(--scroll-top));
  right: 0;
  bottom: 0;
  left: 0;

  padding: 1rem;

  opacity: 0;

  background-color: var(--background);

  transition: opacity .3s, visibility .3s;

  scrollbar-width: none;

  @at-root .open & {
    visibility: inherit;

    opacity: 1;
  }

  li > a {
    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    padding: .75em 1em;

    border-radius: .5rem;

    color: var(--color);

    text-decoration: none;
    &:hover {
      background-color: var(--hover-tint);
    }
  }

  & > li > a {
    margin: .25rem 0;

    font-weight: 600;
  }

  & > li:not(:first-of-type) {
    border-top: 1px solid var(--divider);
  }
}

.expandable-item {
  & > a {
    position: relative;
  }

  & > a::after {
    display: flex;

    position: absolute;
    top: 0;
    right: 0;

    width: 3rem;
    height: 3rem;

    content: url('data:image/svg+xml; utf8, <svg xmlns=\'http://www.w3.org/2000/svg\' height=\'24px\' viewBox=\'0 0 24 24\' width=\'24px\' fill=\'%23262626\'><path d=\'M24 24H0V0h24v24z\' fill=\'none\' opacity=\'.87\'/><path d=\'M15.88 9.29L12 13.17 8.12 9.29c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z\'/></svg>');
    transition: 300ms transform ease-in-out;
    pointer-events: none;

    align-items: center;
    justify-content: center;
  }

  &.open > a::after {
    transform: rotate(180deg);
  }

  &.open .submenu {
    max-height: 100rem;
  }
}

// Submenu

.submenu {
  overflow: hidden;

  position: relative;

  max-height: 0;

  transition: 300ms max-height ease-in-out;

  li {
    padding: 0 1rem;
  }

  li:last-of-type {
    padding: 0 1rem 1rem;
  }
}

.submenu-title {
  display: block;

  margin: .5rem 2rem 0;

  font-size: 1.25rem;
  font-weight: 600;
}

.submenu-see-more {
  display: inline-block;

  margin: .5rem 2rem 1rem;

  border-bottom: 1px solid var(--primary-color);

  color: var(--primary-color);

  text-decoration: none;

  &::after {
    display: inline-block;

    width: 1rem;
    height: 1rem;
    margin: .125rem .25rem;

    content: url('data:image/svg+xml; utf8, <svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'%2302366b\'><path d=\'M5 13h11.17l-4.88 4.88c-.39.39-.39 1.03 0 1.42.39.39 1.02.39 1.41 0l6.59-6.59c.39-.39.39-1.02 0-1.41l-6.58-6.6c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L16.17 11H5c-.55 0-1 .45-1 1s.45 1 1 1z\'/></svg>');
    vertical-align: top;
  }

  &:hover {
    border-color: var(--primary-color-hover);

    color: var(--primary-color-hover);

    &::after {
      content: url('data:image/svg+xml; utf8, <svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'%230a58ca\'><path d=\'M5 13h11.17l-4.88 4.88c-.39.39-.39 1.03 0 1.42.39.39 1.02.39 1.41 0l6.59-6.59c.39-.39.39-1.02 0-1.41l-6.58-6.6c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L16.17 11H5c-.55 0-1 .45-1 1s.45 1 1 1z\'/></svg>');
    }
  }
}

@media screen and (min-width: 992px) {
  .headband {
    margin: 0 1.5rem 1.5rem;
  }

  .navbar {
    display: flex;
    flex-direction: row;

    max-width: 1200px;
    height: 5rem;
    margin: 0 auto;

    justify-content: space-between;
  }

  .menu {
    position: relative;
    top: 0;

    padding: 0;
  }

  .open .menu {
    background-color: initial;
    box-shadow: none;
  }

  // Logo

  .logo {
    position: absolute;
    top: .5rem;
    left: 5rem;

    width: 7.5rem;
    height: 7.5rem;
    margin: 0;

    background-size: 7.5rem 7.5rem;

    &::before {
      top: -2rem;
      left: -2rem;

      width: 12rem;
      height: 12rem;

      background-size: 12rem 12rem;
    }
  }

  // Menu button

  .btn {
    display: none;
  }

  // Items

  .items {
    visibility: initial;
    overflow-x: initial;
    overflow-y: initial;
    flex-direction: row;

    position: static;

    height: 5rem;
    padding: 0 3.5rem 0 1.5rem;

    opacity: 1;

    background-color: initial;

    color: inherit;

    transition: none;

    align-items: center;
    gap: .5rem;
    justify-content: end;

    & > li:not(:first-of-type) {
      border-top: none;
    }

    & > li:hover > a:before {
      height: .25rem;
    }

    & > li > a {
      display: inline-flex;

      position: relative;
      z-index: 1020;

      height: 5rem;
      margin: 0;

      align-items: center;

      &:hover {
        background-color: initial;

        color: var(--primary-color);
      }

      &:before {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 0;

        background-color: var(--accent-color);

        content: '';
        transition: .4s height cubic-bezier(.12, .9, .79, 1);
      }
    }
  }

  .expandable-item {
    &:hover > a::after {
      content: url('data:image/svg+xml; utf8, <svg xmlns=\'http://www.w3.org/2000/svg\' height=\'24px\' viewBox=\'0 0 24 24\' width=\'24px\' fill=\'%2302366b\'><path d=\'M24 24H0V0h24v24z\' fill=\'none\' opacity=\'.87\'/><path d=\'M15.88 9.29L12 13.17 8.12 9.29c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z\'/></svg>');
    }

    & > a {
      display: inline-block;

      padding-right: 3rem !important;

      &::after {
        width: 3rem;
        height: 5rem;
      }
    }
  }

  .open > .submenu {
    visibility: visible;

    opacity: 1;
  }

  .submenu {
    visibility: hidden;
    overflow: initial;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    max-height: none;
    padding-top: 5rem;
    padding-left: 12rem;

    opacity: 0;

    background-color: var(--background);
    box-shadow: var( --raised-shadow);

    transition: opacity 200ms;
  }

  .submenu-content {
    box-sizing: border-box;
    max-width: calc(1200px - 12rem);
    margin: 0 auto;
    padding: 0 1rem 2rem;


    ul {
      display: grid;
      overflow: hidden;

      align-items: flex-start;
      column-gap: 2rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 1rem;
    }

    li {
      padding: .25rem 0;

      box-shadow: 0 calc(1rem + 1px) 0 -1rem var(--divider);

      &:last-of-type {
        padding: .25rem 0;
      }

      a {
        &:hover {
          background-color: var(--hover-tint);
        }
      }
    }
  }

  .submenu-title {
    display: block;

    margin: 0 1rem;
    padding-top: 2rem;

    border-top: 1px solid var(--divider);
  }

  .submenu-see-more {
    display: inline-block;

    margin: .5rem 1rem 2rem;

    border-bottom: 1px solid var(--primary-color);

    color: var(--primary-color);

    text-decoration: none;
  }
}

@media screen and (min-width: calc(1200px + 2rem)) {
  .logo {
    left: 3rem;
  }

  .items {
    padding: 0 2rem;
  }
}
