.video {
  overflow: hidden;

  position: relative;

  width: 100%;
  height: 100vh;

  &:before {
    display: block;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient(
      0deg,
      rgba(var(--primary-color-rgb), 0.1) 0%,
      rgba(var(--primary-color-rgb), 0.8) 100%
    );
    background-color: rgba(var(--primary-color-rgb), 0.3);

    content: '';
  }

  video {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}

.container {
  display: flex;

  position: absolute;
  top: 6rem;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  align-items: center;
}

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.title {
  color: var(--inverted-color);
  font-family: var(--font-serif);
  font-size: 2.25rem;
  line-height: 1.15em;
  text-shadow: var(--text-shadow);
  span {
    padding-left: 1rem;

    font-family: var(--font-cursive);
    font-size: 3rem;
    font-weight: 400;
  }
}

// Shortcuts

.shortcuts {
  display: grid;

  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;

  align-items: center;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-content: center;
  justify-items: center;
}

.shortcut {
  padding: 1rem 0;

  color: var(--primary-color);

  text-align: center;
  text-decoration: none;

  &:hover {
    color: var(--primary-color-hover);
    svg {
      fill: var(--primary-color-hover);
    }
  }

  svg {
    width: 3rem;
    height: 3rem;

    fill: var(--primary-color);
    flex-shrink: 0;
  }

  &-title {
    position: relative;

    padding-top: 1rem;

    font-weight: 600;

    text-transform: uppercase;
    &::after {
      display: block;

      position: absolute;
      top: 1.5px;
      left: calc(50% - 2rem);

      width: 4rem;
      height: 3px;

      background-color: var(--accent-color);

      content: '';
    }
  }
}

// Contact

.contact {
  display: flex;
  flex-direction: row;

  position: relative;

  margin: 1rem 0 1rem 1rem;
  padding: 1.5rem;

  border-top-left-radius: 2rem;

  background-color: var(--primary-color);

  align-items: center;
  gap: 1rem;
  justify-content: left;

  &-icon {
    position: relative;

    width: 4.5rem;
    height: 3rem;
    svg {
      width: 3rem;
      height: 3rem;
      margin-left: 1.5rem;

      fill: var(--inverted-color);
    }
    &:before {
      display: block;

      position: absolute;

      width: 3rem;
      height: 3rem;

      border-radius: 50%;

      background-color: rgba(255, 255, 255, 10%);

      content: '';
    }
  }

  &-link {
    color: var(--inverted-color);
    font-style: italic;

    text-decoration: none;

    span {
      font-weight: 700;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: 0.5rem;

    width: 5.25rem;
    height: 8.75rem;

    background-image: radial-gradient(
      circle at 1rem 1rem,
      var(--accent-color) 2.5px,
      transparent 3.5px
    );
    background-size: 1.75rem 1.75rem;

    content: '';
  }
}

// Articles

.section {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.articles {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.subtitle {
  position: relative;

  margin-top: 0;
  margin-bottom: 2rem;

  font-family: var(--font-serif);
  font-size: 1.875rem;
  &:after {
    display: block;

    position: absolute;
    top: 100%;
    right: auto;
    left: 0;

    width: 4rem;
    height: 0.25rem;
    margin: 0.25em 0;

    background-color: var(--accent-color);

    font-weight: 600;

    content: '';
    transform: translateY(-50%);
  }
}

@keyframes buttonHoverMask {
  from {
    mask-position: 0 0;
  }
  to {
    mask-position: 100% 0;
  }
}

@keyframes buttonUnhoverMask {
  from {
    mask-position: 100% 0;
  }
  to {
    mask-position: 0 0;
  }
}

.button {
  display: inline-block;
  overflow: hidden;

  position: relative;

  padding: 0.5rem 1.5rem;

  border-radius: 2em;

  color: var(--inverted-color);
  font-weight: 600;

  transition: all 0.4s ease-out;
  text-decoration: none;
  &:before {
    display: block;

    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(var(--primary-color-light-rgb), 0.1);

    content: '';
  }
  &:after {
    display: block;

    position: absolute;
    z-index: -1;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;

    border: none;

    background: var(--primary-color);

    content: '';
    cursor: pointer;
    animation: buttonUnhoverMask 0.4s steps(29) forwards;

    mask: url(/urban-sprite.png);
    mask-size: auto;
    mask-size: 3000% 100%;
  }
}

.button:hover {
  color: var(--primary-color);
  &:after {
    animation: buttonHoverMask 0.7s steps(29) forwards;
  }
}

.articles-btn-container {
  padding: 1rem 0;

  text-align: center;
}

@media screen and (min-width: 576px) {
  // Shortcuts

  .shortcuts {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
    line-height: 1.05em;
    span {
      padding-left: 1.5rem;

      font-size: 3.75rem;
    }
  }

  // Shortcuts

  .shortcuts {
    padding: 1.5rem;

    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: left;
  }

  .shortcut {
    display: flex;
    flex-direction: row;

    padding: 1.5rem 0;

    align-items: center;
    &-title {
      padding-left: 1.5rem;

      text-align: left;
      &::after {
        left: 1.5rem;
      }
    }
  }

  // Contact

  .contact {
    position: relative;

    margin: 1.5rem 0 1.5rem 1.5rem;
    padding: 2rem;
    &::before {
      height: 10.5rem;
    }
  }

  // Articles

  .section {
    padding: 1.5rem;
  }

  .articles {
    gap: 1.5rem;
  }

  .subtitle {
    margin-bottom: 2.5rem;

    font-size: 2.25rem;
  }

  .articles-btn-container {
    padding: 1.5rem 0;
  }
}

@media screen and (min-width: 992px) {
  .content {
    padding-left: 5rem;
  }

  .video {
    margin-top: -5rem;
  }

  .title {
    font-size: 3.75rem;
    line-height: 1.02em;
    span {
      padding-left: 2rem;

      font-size: 4.5rem;
    }
  }

  // Shortcuts

  .shortcuts {
    padding: 2rem;

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  // Contact

  .contact {
    position: relative;

    margin: 1.5rem 0 5.25rem 40%;
    padding: 2rem;
    &::before {
      width: 7rem;
      height: 10.5rem;
    }
    &::after {
      position: absolute;
      top: 5.25rem;
      left: 3.5rem;

      width: 8.75rem;
      height: 7rem;

      background-image: radial-gradient(
        circle at 1rem 1rem,
        var(--accent-color) 2.5px,
        transparent 3.5px
      );
      background-size: 1.75rem 1.75rem;

      content: '';
    }
  }

  // Articles

  .articles {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }

  .in-the-news {
    grid-column: 1 / span 3;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    padding-left: 2rem;
  }

  .title {
    font-size: 4.5rem;
    line-height: 1.12em;
    span {
      padding-left: 2rem;

      font-size: 6rem;
    }
  }

  // Contact

  .contact {
    position: relative;

    margin: 1.5rem 0 5.25rem 50%;
  }

  // Articles

  .section {
    padding: 2rem;
  }

  .articles {
    gap: 2rem;
  }

  .subtitle {
    margin-bottom: 3rem;

    font-size: 3rem;
  }

  .articles-btn-container {
    padding: 2rem 0;
  }
}
