.video {
  overflow: hidden;

  position: relative;

  width: 100%;
  height: 100vh;

  &:before {
    display: block;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.8) 100%
    );

    content: '';
  }

  video {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}

.container {
  display: flex;

  position: absolute;
  top: 6rem;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  align-items: center;
}

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.title {
  color: var(--inverted-color);
  font-family: var(--font-serif);
  font-size: 2.25rem;
  line-height: 1.15em;
  text-shadow: var(--text-shadow);
  span {
    padding-left: 1rem;

    font-family: var(--font-cursive);
    font-size: 3rem;
    font-weight: 400;
  }
}

// Shortcuts

.shortcuts {
  display: grid;

  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;

  align-items: center;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-content: center;
  justify-items: center;
}

.shortcut {
  padding: 1rem 0;

  color: var(--primary);

  text-align: center;
  text-decoration: none;

  &:hover {
    color: var(--primary-hover);
    .icon {
      color: var(--primary-hover);
    }
  }

  .icon {
    width: 3rem;
    height: 3rem;

    color: var(--primary);
    font-size: 3rem;

    flex-shrink: 0;
  }

  &-title {
    position: relative;

    padding-top: 1rem;

    font-weight: 600;

    text-transform: uppercase;
    &::after {
      display: block;

      position: absolute;
      top: 1.5px;
      left: calc(50% - 2rem);

      width: 4rem;
      height: 3px;

      background-color: var(--accent);

      content: '';
    }
  }
}

// Contact

.contact {
  display: flex;
  flex-direction: row;

  position: relative;

  margin: 1rem 0 1rem 1rem;
  padding: 1.5rem;

  border-top-left-radius: 2rem;

  background-color: var(--primary);

  align-items: center;
  gap: 1rem;
  justify-content: left;

  &-icon {
    position: relative;

    width: 4.5rem;
    height: 3rem;
    svg {
      width: 3rem;
      height: 3rem;
      margin-left: 1.5rem;

      fill: var(--inverted-color);
    }
    &:before {
      display: block;

      position: absolute;

      width: 3rem;
      height: 3rem;

      border-radius: 50%;

      background-color: rgba(255, 255, 255, 10%);

      content: '';
    }
  }

  &-link {
    color: var(--inverted-color);
    font-style: italic;

    text-decoration: none;

    span {
      font-weight: 700;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: 0.5rem;

    width: 5.25rem;
    height: 8.75rem;

    background-image: radial-gradient(
      circle at 1rem 1rem,
      var(--accent) 2.5px,
      transparent 3.5px
    );
    background-size: 1.75rem 1.75rem;

    content: '';
  }
}

// Posts

.section {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.posts {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.subtitle {
  position: relative;

  margin-top: 0;
  margin-bottom: 2rem;

  font-family: var(--font-serif);
  font-size: 1.875rem;
  &:after {
    display: block;

    position: absolute;
    top: 100%;
    right: auto;
    left: 0;

    width: 4rem;
    height: 0.25rem;
    margin: 0.25em 0;

    background-color: var(--accent);

    font-weight: 600;

    content: '';
    transform: translateY(-50%);
  }
}

.posts-btn-container {
  padding-top: 1rem;

  text-align: center;
}

// Events

.events,
.next-events {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.events-btn-container {
  padding-top: 1rem;

  text-align: center;
}

.tourism-container {
  box-sizing: border-box;
  max-width: calc(1600px + 2 * 2rem);
  margin: 0 auto;
  padding: 1rem;
}

// Discover

.discover-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.discover-btn-container {
  padding-top: 1rem;

  text-align: center;
}

.discover-title {
  margin-bottom: 1rem;

  color: var(--primary-lighter);
  font-family: var(--font-cursive);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;

  span {
    display: block;

    margin-top: -1rem;
    padding-left: 1.5rem;

    color: var(--primary);
    font-family: var(--font-serif);
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.15em;
    text-shadow: none;
  }
}

// Map

.interactive-map-container {
  max-width: 1600px;
  margin: auto;
  padding: 1rem;
}

// Footer

.footer {
  width: 100%;
  margin-top: 1.5rem;

  background-color: #4b76a0;
}

.footer-container {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 100%;
  max-width: 1920px;
  margin: auto;

  background-color: #4b76a0;
}

.footer-background {
  width: 100%;
  height: 100%;
  height: 240px;
  margin: auto;

  background: url('/footer-background.jpg');
  background-repeat: no-repeat;
  background-position: -80px bottom;
  background-size: contain;
}

.footer-content {
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 1;

  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 2rem;

  color: var(--inverted-color);

  order: -1;
}

@media screen and (min-width: 576px) {
  // Shortcuts

  .shortcuts {
    grid-template-columns: 1fr 1fr;
  }

  // Footer

  .footer-background {
    height: 340px;

    background-position: -160px bottom;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
    line-height: 1.05em;
    span {
      padding-left: 1.5rem;

      font-size: 3.75rem;
    }
  }

  // Shortcuts

  .shortcuts {
    padding: 1.5rem;

    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: left;
  }

  .shortcut {
    display: flex;
    flex-direction: row;

    padding: 1.5rem 0;

    align-items: center;
    &-title {
      padding-left: 1.5rem;

      text-align: left;
      &::after {
        left: 1.5rem;
      }
    }
  }

  // Contact

  .contact {
    position: relative;

    margin: 1.5rem 0 1.5rem 1.5rem;
    padding: 2rem;
    &::before {
      height: 10.5rem;
    }
  }

  // Posts

  .section {
    padding: 1.5rem;
  }

  .posts {
    gap: 1.5rem;
  }

  .subtitle {
    margin-bottom: 2.5rem;

    font-size: 2.25rem;
  }

  .posts-btn-container {
    padding-top: 1.5rem;
  }

  // Events

  .events {
    gap: 1.5rem;
  }

  .next-events {
    display: grid;

    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
  }

  .events-btn-container {
    padding-top: 1.5rem;
  }

  .tourism-container {
    padding: 1.5rem;
  }

  // Discover

  .discover-container {
    padding: 1.5rem;
  }

  // Map

  .interactive-map-container {
    padding: 1.5rem;
  }

  // Footer

  .footer {
    margin-top: 2rem;
  }

  .footer-background {
    height: 440px;

    background-position: -160px bottom;
  }

  .footer-content {
    padding: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .content {
    padding-left: 5rem;
  }

  .video {
    margin-top: -5rem;
  }

  .title {
    font-size: 3.75rem;
    line-height: 1.02em;
    span {
      padding-left: 2rem;

      font-size: 4.5rem;
    }
  }

  // Shortcuts

  .shortcuts {
    padding: 2rem;

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  // Contact

  .contact {
    position: relative;

    margin: 1.5rem 0 5.25rem 40%;
    padding: 2rem;
    &::before {
      width: 7rem;
      height: 10.5rem;
    }
    &::after {
      position: absolute;
      top: 5.25rem;
      left: 3.5rem;

      width: 8.75rem;
      height: 7rem;

      background-image: radial-gradient(
        circle at 1rem 1rem,
        var(--accent) 2.5px,
        transparent 3.5px
      );
      background-size: 1.75rem 1.75rem;

      content: '';
    }
  }

  // Posts

  .posts {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
  }

  .in-the-news {
    grid-column: 1 / span 3;
  }

  // Events

  .events {
    flex-direction: row;
  }

  .next-event {
    flex: 1;
  }

  .next-events {
    display: flex;

    flex: 1;
  }

  // Discover

  .discover-container {
    padding: 2rem;
  }

  // Footer

  .footer {
    margin-top: 3rem;
  }

  .footer-container {
    display: block;

    height: calc(440px + 1rem);
  }

  .footer-background {
    position: absolute;
    top: 1rem;
    left: -180px;

    width: calc(100% + 160px);
    height: 440px;

    background-position: left bottom;
  }

  .footer-content {
    padding: 1.5rem;

    align-items: end;
    justify-content: center;
    h3,
    p {
      width: 400px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .content {
    padding-left: 2rem;
  }

  .title {
    font-size: 4.5rem;
    line-height: 1.12em;
    span {
      padding-left: 2rem;

      font-size: 6rem;
    }
  }

  // Contact

  .contact {
    position: relative;

    margin: 1.5rem 0 5.25rem 50%;
  }

  // Posts

  .section {
    padding: 2rem;
  }

  .posts {
    gap: 2rem;
  }

  .subtitle {
    margin-bottom: 3rem;

    font-size: 3rem;
  }

  .posts-btn-container {
    padding-top: 2rem;
  }

  // Events

  .events {
    gap: 2rem;
  }

  .events-btn-container {
    padding-top: 2rem;
  }

  .tourism-container {
    padding: 2rem;
  }

  // Discover

  .discover-btn-container {
    padding-top: 2rem;
  }

  .discover-title {
    font-size: 4rem;

    span {
      padding-left: 2rem;

      font-size: 3rem;
    }
  }

  // Map

  .interactive-map-container {
    padding: 2rem;
  }

  .footer-content {
    padding: 2rem;
    h3,
    p {
      width: 520px;
    }
  }
}

@media screen and (min-width: 1600px) {
  // Footer

  .footer-container {
    display: block;

    height: calc(540px + 1rem);
  }

  .footer-background {
    height: 540px;
  }
}
