.headband {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  position: relative;

  margin: 1rem;
  padding: 8rem 1rem 4rem;

  border-radius: var(--headband-border-radius);

  background-color: var(--primary);

  color: var(--inverted-color);

  align-items: center;
  justify-content: center;

  h1 {
    font-family: var(--font-serif);
    font-size: 2rem;

    text-align: center;
  }

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 3rem;

    opacity: 0.35;

    background-image: url('/pattern.svg');
    background-repeat: repeat-x;
    background-position: center;

    content: '';
  }
}

.breadcrumb {
  margin: 0;
  padding: 0;

  font-size: 0.875rem;
  font-style: italic;

  list-style: none;

  li {
    display: inline;
    &:not(:last-of-type) {
      margin-right: 0.5em;
    }
  }

  li::after {
    margin-left: 0.5em;

    content: '»';
  }

  li:last-child::after {
    content: '';
  }

  a {
    color: inherit;

    transition: all 0.4s ease-out;
    text-decoration: none;
    &:hover {
      color: var(--accent);
    }
  }
}

@media screen and (min-width: 768px) {
  .headband {
    padding: 9rem 1.5rem 5rem;
    h1 {
      font-size: 3rem;
    }
    &:after {
      height: 4rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .headband {
    margin: 0 1.5rem 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .headband {
    padding: 10rem 2rem 6rem;
    h1 {
      font-size: 4rem;
    }
    &:after {
      height: 5rem;
    }
  }
}

.main {
  box-sizing: border-box;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 0 calc(1rem + var(--headband-border-radius));

  flex: 1 1 auto;

  h1,
  h2 {
    position: relative;

    margin-top: 0;
    margin-bottom: 1rem;

    font-family: var(--font-serif);
    font-size: 1.875rem;
    &:after {
      display: block;

      position: absolute;
      top: 100%;
      right: auto;
      left: 0;

      width: 4rem;
      height: 0.25rem;
      margin: 0.25em 0;

      background-color: var(--accent);

      font-weight: 600;

      content: '';
      transform: translateY(-50%);
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;

    color: var(--primary);
    font-family: var(--font-serif);
    font-size: 1.5rem;
    font-weight: 600;
  }

  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;

    color: var(--primary);
    font-weight: 700;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    width: 100%;
    margin-bottom: 1rem;

    word-wrap: normal;
  }

  a {
    display: inline-block;

    color: var(--primary);

    transition: all 0.4s ease-out;
    &:hover {
      color: var(--primary-hover);
    }
  }

  ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 1.25rem;

    list-style: disc;
  }

  ol {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 1.25rem;

    list-style: decimal;
  }

  ol ul,
  ul ul {
    margin-bottom: 0;
    padding-left: 1.5rem;

    list-style: circle;
  }

  ol ol,
  ul ol {
    margin-bottom: 0;
    padding-left: 1.5rem;

    list-style: lower-alpha;
  }

  hr {
    margin: 1rem 0;

    border: 1px solid;
    border-color: var(--divider);
  }

  img {
    max-width: 100%;
    margin-bottom: 1rem;

    border-radius: 1rem;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  sub {
    vertical-align: sub;
  }

  sup {
    vertical-align: super;
  }

  blockquote {
    margin: 0.5rem 0;
    padding-left: 1rem;

    border-left: 2px solid var(--border);

    color: var(--color-light);
    font-style: italic;
  }
}

@media screen and (min-width: 768px) {
  .main {
    h1,
    h2 {
      margin-bottom: 1.5rem;

      font-size: 2.25rem;
    }

    h3 {
      font-size: 1.875rem;
    }

    h4 {
      font-size: 1.5rem;
    }

    h5 {
      font-size: 1.25rem;
    }

    h6 {
      font-size: 1.125rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .main {
    padding: 0 calc(1.5rem + var(--headband-border-radius));
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding: 0;

    font-size: 1.125rem;
    h1,
    h2 {
      margin-bottom: 2rem;

      font-size: 3rem;
    }

    h3 {
      font-size: 2.25rem;
    }

    h4 {
      font-size: 1.875rem;
    }

    h5 {
      font-size: 1.5rem;
    }

    h6 {
      font-size: 1.25rem;
    }
  }
}
