.main {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;
  padding: 1rem;

  align-items: center;
  gap: 1rem;
}

.card {
  width: 100%;
  max-width: 480px;
  padding: 0.75rem 1rem 1rem;

  border: 1px solid var(--border);
  border-radius: var(--card-border-radius);

  flex: 1;

  a {
    display: inline-block;

    color: var(--primary);

    transition: all 0.4s ease-out;
    &:hover {
      color: var(--primary-hover);
    }
  }
}

.card-title {
  margin-top: 0;
  margin-bottom: 0.5rem;

  color: var(--primary);
  font-family: var(--font-serif);
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .links {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 1.5rem calc(1.5rem + var(--headband-border-radius));
  }

  .content {
  }
}

@media screen and (min-width: 992px) {
  .main {
    margin-bottom: 1.5rem;
  }

  .content {
    flex-direction: row;

    align-items: stretch;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding: 2rem;
  }

  .content {
  }
}
