.headband {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  position: relative;

  margin: 1rem;
  padding: 8rem 1rem 4rem;

  border-radius: var(--headband-border-radius);

  background-color: var(--primary-color);

  color: var(--inverted-color);

  align-items: center;
  justify-content: center;

  h1 {
    font-family: var(--font-serif);
    font-size: 2rem;

    text-align: center;
  }

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 3rem;

    opacity: .35;

    background-image: url('/pattern.svg');
    background-repeat: repeat-x;
    background-position: center;

    content: '';
  }
}

.breadcrumb {
  margin: 0;
  padding: 0;

  font-size: .875rem;
  font-style: italic;

  list-style: none;

  li {
    display: inline;
    &:not(:last-of-type) {
      margin-right: .5em;
    }
  }

  li::after {
    margin-left: .5em;

    content: '»';
  }

  li:last-child::after {
    content: '';
  }

  a {
    color: inherit;

    transition: all .4s ease-out;
    text-decoration: none;
    &:hover {
      color: var(--accent-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .headband {
    padding: 9rem 1.5rem 5rem;
    h1 {
      font-size: 3rem;
    }
    &:after {
      height: 4rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .headband {
    margin: 0 1.5rem 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .headband {
    padding: 10rem 2rem 6rem;
    h1 {
      font-size: 4rem;
    }
    &:after {
      height: 5rem;
    }
  }
}
